node-red-export.json
[{"id":"c0173ddb.99f4a","type":"tab","label":"Websocket","disabled":false,"info":""},{"id":"f10dbe7a.2411","type":"websocket in","z":"c0173ddb.99f4a","name":"mapapps/receive","server":"286fb92e.73ee56","client":"","x":120,"y":140,"wires":[["f37e086b.ffddf8"]]},{"id":"378a7b5b.b660f4","type":"debug","z":"c0173ddb.99f4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"f37e086b.ffddf8","type":"json","z":"c0173ddb.99f4a","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["378a7b5b.b660f4"]]},{"id":"dfdc5636.70b228","type":"inject","z":"c0173ddb.99f4a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"Message from NodeRed","payload":"{\"message\":\"Hello from NodeRed\"}","payloadType":"json","x":120,"y":260,"wires":[["df28253d.a44548"]]},{"id":"9e35e565.9124c8","type":"websocket out","z":"c0173ddb.99f4a","name":"mapapps/publish","server":"20a621c3.6de48e","client":"","x":570,"y":260,"wires":[]},{"id":"df28253d.a44548","type":"json","z":"c0173ddb.99f4a","name":"","property":"payload","action":"","pretty":false,"x":310,"y":260,"wires":[["9e35e565.9124c8"]]},{"id":"286fb92e.73ee56","type":"websocket-listener","z":"","path":"/ws/mapapps/receive","wholemsg":"false"},{"id":"20a621c3.6de48e","type":"websocket-listener","z":"","path":"/ws/mapapps/publish","wholemsg":"false"}]