nodered-node/node-red-export.json
[{"id":"d4016f9e.1f5f7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"63d42159.7852b","type":"tab","label":"Websocket","disabled":false,"info":""},{"id":"b6352c01.c5936","type":"ct-hackathon-config","z":"","host":"localhost","port":"1234"},{"id":"e2fd45a0.b5ceb8","type":"websocket-listener","z":"","path":"/ws/mapapps/receive","wholemsg":"false"},{"id":"161fec64.a29184","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/mapapps","tls":"","wholemsg":"false"},{"id":"af7a583c.878908","type":"websocket-listener","z":"","path":"/ws/mapapps/publish","wholemsg":"false"},{"id":"b37116a1.3937e8","type":"dwdweather","z":"d4016f9e.1f5f7","name":"","mosmixStation":"P0036","lookAheadHours":"0","additionalFields":"","repeat":"60","x":240,"y":500,"wires":[["42bb4572.a403fc"]]},{"id":"42bb4572.a403fc","type":"debug","z":"d4016f9e.1f5f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":500,"wires":[]},{"id":"e6918c75.6ab57","type":"websocket in","z":"63d42159.7852b","name":"mapapps/receive","server":"e2fd45a0.b5ceb8","client":"","x":120,"y":140,"wires":[["5a019183.03dff"]]},{"id":"27e13de3.ec6422","type":"debug","z":"63d42159.7852b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"5a019183.03dff","type":"json","z":"63d42159.7852b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["27e13de3.ec6422"]]},{"id":"20a5b32b.5ce0cc","type":"inject","z":"63d42159.7852b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["4c0910b1.12541"]]},{"id":"b7fe4d21.b773c","type":"websocket out","z":"63d42159.7852b","name":"mapapps/publish","server":"af7a583c.878908","client":"","x":570,"y":260,"wires":[]},{"id":"4c0910b1.12541","type":"json","z":"63d42159.7852b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":260,"wires":[["b7fe4d21.b773c"]]}]